<h1>Editing request donation</h1>

<%= render "form", request_donation: @request_donation %>

<br>

<div>
  <%= link_to "Show ", @request_donation %> |
  <%= link_to "Back to projects", request_donations_path %>
</div>
