<h1>Editing request donation</h1>

<%= render "form", request_donation: @request_donation %>

<br>

<div>
  <%= link_to "Show this request donation", @request_donation %> |
  <%= link_to "Back to request donations", request_donations_path %>
</div>
