
<%= render @request_donation %>

<div>
    <br>
  <%= link_to "Edit ", edit_request_donation_path(@request_donation), class:"btn btn-dark" %> 
  <%= link_to "Back to projects", request_donations_path, class:"btn btn-secondary" %>

  <br>   <br> <%= button_to "Delete", @request_donation, method: :delete, class:"btn btn-danger" %>

  

  
</div>
