<h1>Editing donation</h1>
<br/>
<%= render "form", donation: @donation %>

<br>

<div>
  <%= link_to "Show", @donation, class:"btn btn-secondary" %> 
  <%= button_to 'Delete',  @donation.destroy, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "Back", donations_path, class:"btn btn-dark" %>
</div> @donation.destroy
