
<%= render @donation %>

<div>
  <%= link_to "Edit", edit_donation_path(@donation), class:"btn btn-dark" %> 

  <%= link_to "Back", donations_path, class:"btn btn-secondary" %>
  <br> <br>
  <%= button_to "Delete", @donation, method: :delete, class:"btn btn-danger" %>

  
 
</div>
